.success-message {
  background-color: var(--grey-dark);
  padding: 1.68rem 1.43rem;
  color: var(--white);
  border-radius: 12px;
  max-width: 29.18rem;
  margin: 1.56rem auto 0;
}

.success-message__title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.success-message__title img {
  margin-right: 0.625rem;
}

.success-message__title h2 {
  font-size: 1.3rem;
}

.success-message p {
  text-align: center;
  line-height: 1.4;
  color: var(--green-light);
}

@media (min-width: 1100px) {
  .success-message__title {
    justify-content: flex-start;
  }

  .success-message p {
    text-align: left;
  }
}
